<div class="card text-dark mb-3">
  <div class="card-header pb-0">
    <h5 class="card-title">
      <%= t('general.nearby_users') %>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div id="map_nearby" class="map-md"></div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', users_path %>
