<nav class="navbar navbar-light bg-light fixed-bottom">
  <span class="navbar-text">
    IFPI &copy;
  </span>
  <div class="col-sm-4">
    <div class="col-sm-5">
      <a href="?locale=en" class="float-right btn btn-danger btn-sm">
        En-US
      </a>
    </div>
    <div class="col-sm-5">
      <a href="?locale=pt-BR" class="float-right btn btn-success btn-sm">
        pt-BR
      </a>
    </div>
  </div>
  <a class="float-right" href="#">#</a>
</nav>