<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @blocked_user.user %>
</p>

<%= link_to 'Edit', edit_blocked_user_path(@blocked_user) %> |
<%= link_to 'Back', blocked_users_path %>
