<div class="container py-2">
  <!--  item 1-->
  <% @versions.each do |version| %>
    <div class="row timeline-item">
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <div class="float-right"><%= l(version.created_at, format: :short) %></div>
            <h4 class="card-title"><%= admin_action(version) %></h4>
<!--            <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#t2_details" data-toggle="collapse">Show-->
<!--              Details ▼-->
<!--            </button>-->
            <div class="collapse border" id="t2_details">
              <div class="p-2 text-monospace">
                <div>08:30 - 09:00 Breakfast in CR 2A</div>
                <div>09:00 - 10:30 Live sessions in CR 3</div>
                <div>10:30 - 10:45 Break</div>
                <div>10:45 - 12:00 Live sessions in CR 3</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!--/row-->
</div>